Graphic design/logo reveal/Logo_Reveal_4K.aep
Graphic design/logo reveal/Logo_Reveal_FHD.aep
Graphic design/logo reveal/Logo_Reveal_FHD.avi
Graphic design/logo reveal/(Footage)/Assets/Logo/Envato.png
Graphic design/logo reveal/(Footage)/Assets/Reflection/Map.jpg
Graphic design/logo reveal/Adobe After Effects Auto-Save/Logo_Reveal_4K auto-save 1.aep
Graphic design/logo reveal/Adobe After Effects Auto-Save/Logo_Reveal_FHD auto-save 1.aep
Graphic design/logo reveal/Help File/Help File.txt
Graphic design/logo reveal/Help File/Tutorial.mp4
Graphic design/logo reveal/Logo_Reveal_4K.aep Logs/AE 7-10-2024 16-18-23.txt
Graphic design/logo reveal/Logo_Reveal_FHD.aep Logs/AE 7-10-2024 16-28-50.txt
