.btn{
    width: 100% !important;
    box-shadow: 2px 2px 4px #777777 !important;
    border-style: solid;
    border-style: solid !important;
    border-color: #e4e4e4 !important;
    border-width: 2px !important;
    border-radius: 10px !important;
    transition:all 0.2s ease-in;
}
.btn:hover{
    width: 100% !important;
    box-shadow: 2px 2px 0px #777777 !important;
    border-style: solid;
    border-style: solid !important;
    border-color: #e4e4e4 !important;
    border-width: 2px !important;
    border-radius: 10px !important;
    transition:all 0.2s ease-out;
}
textarea{
    box-shadow: 2px 0px 6px #eaeaea !important;
}
.mdi{
    text-shadow: 1px 1px 3px #000;
    transition:all 0.1s ease-in;
}
.mdi:hover{
    text-shadow: 0px 0px 20px #000;
    transition:all 0.1s ease-out;
}
.request-balloon{
    position:relative;
    border-radius:50px;
    background-color: #FFF;
    padding:15px;
    font-size:12px;
    width:80%;
    margin-bottom:15px;
    box-shadow: 0px 1px 3px #ccc;
    float:left !important;
    text-align: left;
}
.response-balloon{
    position:relative;
    border-radius:50px;
    background-color: #FFF;
    padding:15px;
    font-size:12px;
    width:80%;
    margin-bottom:15px;
    box-shadow: 0px 1px 3px #ccc;
    float:right !important;
    text-align: left;
}
.ai-message{
    padding-left:25px;
}
.modal-body{
    max-height:350px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.actionbar_item{
    padding-left:5px;
}
a{
    text-decoration: none !important;
}
.editor-btn{
    border:none;
    width:auto;
    margin: 5px 5px !important;
    background-color: #ccc;
    border-radius:1px;
    box-shadow: 0px 0px 2px #b7b7b7;
    font-size:12px;
    padding: 5px 15px !important;
    transition: all 0.2s ease-in;
}
.editor-btn:hover{
    border:none;
    width:auto;
    margin: 5px 5px !important;
    background-color: #ff7591;
    border-radius:1px;
    box-shadow: 0px 0px 2px #b7b7b7;
    font-size:12px;
    padding: 5px 15px !important;
    transition: all 0.2s ease-out;
}
.editor-btn:focus{
    border:none;
    width:auto;
    margin: 5px 5px !important;
    background-color: #ff7591 !important;
    border-radius:1px;
    box-shadow: 0px 0px -2px #b7b7b7;
    font-size:12px;
    padding: 5px 15px !important;
}
.editor-btn:active{
    border:none;
    width:auto;
    margin: 5px 5px !important;
    background-color: #ff7591 !important;
    border-radius:1px;
    box-shadow: 0px 0px -2px #b7b7b7;
    font-size:12px;
    padding: 5px 15px !important;
}
.editor-buttons{
    width:100%;
    position:relative;
    background-color: #F4F4F4;
}
.editor-body{
    border-style:solid;
    padding-top:15px;
    border-color: #F4F4F4;
    border-width:2px;
}
.ProseMirror-focused{
    border:none !important;
    outline: none;
}
.ProseMirror{
    padding:15px !important;
}
.ui-modal{
    position: fixed;
    z-index:9999;
    right:15px; 
    top: 50px;
    border-style: solid;
    border-color:#F4F4F4;
    border-width:2px;
    width:330px;
    box-shadow: 0px 3px 8px;
    border-radius: 10px;
    display:none;
}
.ui-modal-header{
    position:relative;
    left: 0px;
    width: 100%;
    cursor: grab;
    top:0px;
    padding-left: 15px;
    padding-right: 15px;;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 15px;
    font-weight:bold;
    background-color: #F4F4F4;
}
.ui-modal-footer{
    position:relative;
    left: 0px;
    width: 100%;
    cursor: grab;
    top:0px;
    padding-left: 15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #F4F4F4;
    font-size:11px;
    font-weight: normal;
}

.logo-img{
    height: auto !important;
    width: 260px !important;
    position: absolute;
    top: 0px;
    left: -15px;
    transform: rotate(5deg);
    opacity:1;
    transition:all 0.2s ease-in;
}
.logo-img:hover{
    height: auto !important;
    width: 340px !important;
    position: absolute;
    top: 0px;
    left: -15px;
    transform: rotate(0deg);
    opacity:1;
    transition:all 0.2s ease-in;
}
@media screen and (max-width: 500px) {

}